.icon{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    gap: 20rem;
    padding: 40px;
    margin-top: 30px;
}
.discover h1{
   font-size: 4rem;
   text-decoration: line-through;
}
.discover{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.discover p{
    font-size: 20px;
    color: gray;
}
.discover button{
    height: 45px;
    font-size: 25px;
    width: 20em;
    margin-left: 60px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
.journey{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 60px;
    cursor: pointer;
}
.journey img{
    border: 2px solid red;
    border-radius: 20px;
}
.journey1{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 60px;
    cursor: pointer;
}

.journey1 img{
    border: 2px solid red;
    border-radius: 20px;
}
.j2{
    margin-top: 10rem;
}
.j1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.j1 img{
    position: relative;
    transition: 0.5s;
}
.j1 p{
    margin-top: -39px;
}
.j1 img:hover{
    margin-bottom: 60px;
}
.j2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.j2 img{
    position: relative;
    transition: 0.5s;
}
.j2 p{
    margin-top: -39px;
}
.j2 img:hover{
    margin-bottom: 60px;
}
.j3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.j3 img{
    position: relative;
    transition: 0.5s;
}
.j3 p{
    margin-top: -39px;
}
.j3 img:hover{
    margin-bottom: 50px;
}

@media screen and (orientation:portrait) {
    .header{
        gap: 0px;
        flex-direction: column;
    }
    .discover h1{
        font-size: 2rem;
    }
    .discover button{
        width: 10em;
        margin-left: 30px;
    }
    .icon{
        display: none;
    }
    .journey{
        flex-direction: column;
        gap: 2rem;
        padding: 35px;
    }
    .journey1{
        flex-direction: column;
        gap: 2rem;
        padding: 35px;
    }
    .j2{
        margin-top: 0px;
    }
}